#### Ingeniero en Sistemas: Erick J. Pineda Amézquita  
Correo de contacto: epineda.amezquita@gmail.com  
github: https://github.com/epinedaWorks/

# Análisis de datos
Contenido: 
+ Carga de datos csv y xls. 
+ Combinación de dataFrames
+ Carga de hojas específicas
+ Reemplazar valores nullos por algún string
+ Asignar tipo de dato al dataFrame, por ejemplo tipo Fecha
+ Concatenar varias hojas de forma automática
+ Leer primeras y últimas líneas de un DataFrame

**Fuente/Origenes de datos:**  

https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset  


Archivos a utilizar:  

+ COVID19_line_list_data.csv
+ COVID19_open_line_list.csv
+ covid_19_data.csv
+ covid_19_Excel.xlsx
+ ImportingDataParte1.ipynb
+ time_series_covid_19_confirmed.csv
+ time_series_covid_19_deaths.csv
+ time_series_covid_19_recovered.csv

### Leer un archivo .csv

Cuando se cargan datos con la herramienta de numpy, el tipo de dato se llama "DataFrame". En caso se cargue un archivo completo de Excel, el tipo de dato es una Colección, la cual tiene de elementos Dataframes.

In [1]:
# Import pandas library
import pandas as pd

# Import the data
DataCovid19 = pd.read_csv('./data/covid_19_data.csv')

# Display first 10 rows
print(DataCovid19.head(10))

DataCovid19.info()

   SNo ObservationDate Province/State  Country/Region      Last Update  \
0    1      01/22/2020          Anhui  Mainland China  1/22/2020 17:00
1    2      01/22/2020        Beijing  Mainland China  1/22/2020 17:00
2    3      01/22/2020      Chongqing  Mainland China  1/22/2020 17:00
3    4      01/22/2020         Fujian  Mainland China  1/22/2020 17:00
4    5      01/22/2020          Gansu  Mainland China  1/22/2020 17:00
5    6      01/22/2020      Guangdong  Mainland China  1/22/2020 17:00
6    7      01/22/2020        Guangxi  Mainland China  1/22/2020 17:00
7    8      01/22/2020        Guizhou  Mainland China  1/22/2020 17:00
8    9      01/22/2020         Hainan  Mainland China  1/22/2020 17:00
9   10      01/22/2020          Hebei  Mainland China  1/22/2020 17:00

   Confirmed  Deaths  Recovered
0        1.0     0.0        0.0
1       14.0     0.0        0.0
2        6.0     0.0        0.0
3        1.0     0.0        0.0
4        0.0     0.0        0.0
5       26.0     0.0        0.0
6        2.0     0.0        0.0
7        1.0     0.0        0.0
8        4.0     0.0        0.0
9        1.0     0.0        0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 8 columns):
SNo                6162 non-null int64
ObservationDate    6162 non-null object
Province/State     3700 non-null object
Country/Region     6162 non-null object
Last Update        6162 non-null object
Confirmed          6162 non-null float64
Deaths             6162 non-null float64
Recovered          6162 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 385.2+ KB

Para quitar valores no encontrados y reemplazarlos con palabras, o bien, para cambiar tipo de dato, por ejemplo el de fecha, se utliza la bandera "parse_dates":

In [2]:
# Import the data
DataCovid19 = pd.read_csv('./data/covid_19_data.csv',na_values='NAN', parse_dates=['Last Update'])

print(DataCovid19.head())

DataCovid19.info()

   SNo ObservationDate Province/State  Country/Region         Last Update  \
0    1      01/22/2020          Anhui  Mainland China 2020-01-22 17:00:00
1    2      01/22/2020        Beijing  Mainland China 2020-01-22 17:00:00
2    3      01/22/2020      Chongqing  Mainland China 2020-01-22 17:00:00
3    4      01/22/2020         Fujian  Mainland China 2020-01-22 17:00:00
4    5      01/22/2020          Gansu  Mainland China 2020-01-22 17:00:00

   Confirmed  Deaths  Recovered
0        1.0     0.0        0.0
1       14.0     0.0        0.0
2        6.0     0.0        0.0
3        1.0     0.0        0.0
4        0.0     0.0        0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 8 columns):
SNo                6162 non-null int64
ObservationDate    6162 non-null object
Province/State     3700 non-null object
Country/Region     6162 non-null object
Last Update        6162 non-null datetime64[ns]
Confirmed          6162 non-null float64
Deaths             6162 non-null float64
Recovered          6162 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 385.2+ KB

### Si en dado caso el archivo fuera de excel:
Se puede leer de dos formas, ya sea una hoja o libro específico o todo el archivo.

In [3]:
#Cargar archivo
path="./data/covid_19_Excel.xlsx"
xls = pd.ExcelFile(path)

#obtener nombre de las hojas
hojas = xls.sheet_names
print("Hojas: ",hojas)


## hay dos tipos de lectura:
### por archivo completo o por hoja especifica

# Leer archivo completo
archivoCompleto= pd.read_excel(xls, sheet_name=hojas, na_values='n/a')
print("Información: ")
archivoCompleto['hoja-covid_19_data'].info()

print()
print()
# Leer hoja específica
archivoHoja1 = pd.read_excel(path, sheet_name='hoja-covid_19_data', na_values='n/a')
archivoHoja1.info()

print("Tipo de dato de archivoCompleto: ",type(archivoCompleto))
print("Tipo de dato de archivoCompleto['hoja-covid_19_data']:  ",type(archivoCompleto['hoja-covid_19_data']))
print("Tipo de dato de archivoHoja1: ",type(archivoHoja1))


#DataCovid19.info()

Hojas:  ['hoja-covid_19_data', 'hoja2-Datos2']
Información:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 8 columns):
SNo                6162 non-null int64
ObservationDate    6162 non-null object
Province/State     3700 non-null object
Country/Region     6162 non-null object
Last Update        6162 non-null object
Confirmed          6162 non-null int64
Deaths             6162 non-null int64
Recovered          6162 non-null int64
dtypes: int64(4), object(4)
memory usage: 385.2+ KB


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 8 columns):
SNo                6162 non-null int64
ObservationDate    6162 non-null object
Province/State     3700 non-null object
Country/Region     6162 non-null object
Last Update        6162 non-null object
Confirmed          6162 non-null int64
Deaths             6162 non-null int64
Recovered          6162 non-null int64
dtypes: int64(4), object(4)
memory usage: 385.2+ KB
Tipo de dato de archivoCompleto:  <class 'collections.OrderedDict'>
Tipo de dato de archivoCompleto['hoja-covid_19_data']:   <class 'pandas.core.frame.DataFrame'>
Tipo de dato de archivoHoja1:  <class 'pandas.core.frame.DataFrame'>

### Combinación de data frames

In [4]:
print("Hojas en el archivo: ",hojas)

cantidadLineas= archivoCompleto['hoja-covid_19_data'].shape[0]
print("Lineas de hoja1: ",cantidadLineas )
dataFrameCombinado = pd.concat([archivoCompleto['hoja-covid_19_data'], archivoCompleto['hoja2-Datos2']]) 
print("Type: ",type(dataFrameCombinado))
print("Shape: ",dataFrameCombinado.shape)

Hojas en el archivo:  ['hoja-covid_19_data', 'hoja2-Datos2']
Lineas de hoja1:  6162
Type:  <class 'pandas.core.frame.DataFrame'>
Shape:  (12324, 8)

### Agregar una columna a cada DataFrame
Puede servir para conocer el origen de cada DF, es decir, de qué archivo se cargó.  
En el ejemplo se toma el mismo archivo de ejemplo, pero se hace para efectos prácticos.

In [5]:
dfHoja1 = pd.read_excel(path, sheet_name='hoja-covid_19_data', na_values='n/a')
dfHoja2= pd.read_excel(path, sheet_name='hoja-covid_19_data', na_values='n/a')

dfHoja1.head(2)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0

Observar la ultima columna, en la cual se agregará la referencia

In [6]:
dfHoja1["Origen"] = "ArchivoWeb"
dfHoja2["Origen"] = "ArchivoBaseDatos"
dfHoja1.head(2)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Origen
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0,ArchivoWeb
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0,ArchivoWeb

In [7]:
dfHoja2.head(2)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Origen
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0,ArchivoBaseDatos
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0,ArchivoBaseDatos

Si se desea concatenar en un único dataFrame todas las hojas de un Excel

In [8]:
# Crear archivo PDF a partir del path
archivoXls = pd.ExcelFile(path)

#Extraer el nombre de las hojas del archivo
nombreDeLibros = archivoXls.sheet_names

# Crear lista vacía para ir concatenando
listadoGeneral=[]

# Importar data leyendo cada una de las hojas y asignando una nueva colummna con el nombre de la hoja.
for nombre in nombreDeLibros:
    dfLibroActual = pd.read_excel(archivoXls, sheet_name=nombre, na_values='n/a')
    dfLibroActual['Exchange'] = nombre
    listadoGeneral.append(dfLibroActual)

# Concatenate the listings: listing_data
dfUnificado = pd.concat(listadoGeneral)

# Inspect the results
dfUnificado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12324 entries, 0 to 6161
Data columns (total 9 columns):
SNo                12324 non-null int64
ObservationDate    12324 non-null object
Province/State     7400 non-null object
Country/Region     12324 non-null object
Last Update        12324 non-null object
Confirmed          12324 non-null int64
Deaths             12324 non-null int64
Recovered          12324 non-null int64
Exchange           12324 non-null object
dtypes: int64(4), object(5)
memory usage: 962.8+ KB

In [9]:
dfUnificado.head(3)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Exchange
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1,0,0,hoja-covid_19_data
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14,0,0,hoja-covid_19_data
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6,0,0,hoja-covid_19_data

In [10]:
dfUnificado.tail(3)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Exchange
6159,6160,03/16/2020,Diamond Princess cruise ship,Australia,2020-03-14T02:33:04,0,0,0,hoja2-Datos2
6160,6161,03/16/2020,West Virginia,US,2020-03-10T02:33:04,0,0,0,hoja2-Datos2
6161,6162,03/16/2020,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,hoja2-Datos2